# OS
.DS_Store

# Environment
.env
.env.setup

# IDE
.idea/

# Dependencies
vendor/
composer.lock

# Temp
tmp/

# AI
.gemini/
.claude/

#files
public/files/*

# Browserless storage
storage/profiles/
storage/cookies/

#log
public/*.log
public/*.status
